{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1>ルーム{{ room_id|slice(0, 6) }}</h1>
<img src="data:image/png;base64,{{ qr_code }}" width="300" height="300">
<h1>参加プレイヤー</h1>
<div id="players">
</div>
<input type="button" value="このメンバーでプレイ" onclick="gameStart()">

<script>
    const gameStart = () => {
        liff.closeWindow();
    };

    const setParent = (lineId) => {
        const ep = "https://monopoly-bottle.herokuapp.com/api/room/{{ room_id }}/parent";
        fetch(ep, {
            method: 'POST',
            body: JSON.stringify({parent: lineId}),
            headers: {'Content-Type': 'application/json'}
        })
    };

    const setPlayer = (lineId) => {
        const ep = "https://monopoly-bottle.herokuapp.com/api/player";
        const body = {'line_id': lineId, 'room_id': '{{ room_id }}', 'position': 'parent'};
        fetch(ep, {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {'Content-Type': 'application/json'}
        })
    };

    const updatePlayers = (players) => {
        let playersNum = document.getElementById('players').childElementCount;
        if (Object.keys(players).length !== playersNum) {
            let wrapper = document.getElementById('players');
            while (wrapper.firstChild) element.removeChild(wrapper.firstChild);
            let i = 0;
            for (let player of players) {
                let p = document.createElement('p');
                if (player['position'] === 'parent') {
                    p.innerText = "親　";
                } else if (player['position'] === 'child') {
                    p.innerText = "子" + i + "　";
                }
                p.innerText += player['line_name'];
                wrapper.appendChild(p);
                i++;
            }
        }
    };

    const fetchPlayers = () => {
        let ep = "https://monopoly-bottle.herokuapp.com/api/room/{{ room_id }}/player";
        fetch(ep).then(response => response.json()).then(json => updatePlayers(json));
    };

    liff.init(data=>{
        const lineId = data.context.userId;
        setParent(lineId);
        setPlayer(lineId);
    },err=>{
        alert('LIFF initializtion failed.\n' + err);
    });

    setInterval(fetchPlayers, 1000);
</script>

{% endblock %}
